.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: static;
    margin-top: auto;
    width: 100%; 
    box-sizing: border-box;
  }
  