.donate {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh; 
    background: white;
    padding-top: 50px;  
    justify-content: center;
    align-items: center;
    padding: 20px 0;  
}

.donate-container {
    width: 100%;
    max-width: 500px;
    height: auto;  
    background: white;
    margin: auto;
    padding: 10px 20px;
    flex-grow: 1;
}

.donate-container h1 {
    margin: 15px 0px;  
}

.donate-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;  
    margin-top: 20px;  
}

.donate-fields input,
.donate-fields select {
    width: 100%;
    height: 50px;  
    border: 1px solid #c9c9c9;
    padding-left: 20px;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;  
}

.donate-container button {
    width: 100%;
    height: 50px;  
    background: #ff4141;
    border: none;
    font-size: 18px;  
    font-weight: 500;
    margin-top: 20px;  
    color: white;
    cursor: pointer;
}

.donate-address {
    display: flex;
    flex-direction: column;
    gap: 15px;  
    margin-top: 15px;  
}

.donate-address input {
    width: 100%;
    height: 50px; 
    border: 1px solid #c9c9c9;
    padding-left: 20px;
    outline: none;
    color: #5c5c5c;
    font-size: 16px; 
}

.donate-dropdown {
    width: 100%;
    height: 50px; 
    border: 1px solid #c9c9c9;
    padding-left: 20px;
    color: #5c5c5c;
    font-size: 16px;  
    background-color: white;
    margin-top: 15px; 
}

.donate-login {
    margin-top: 15px; 
    font-size: 16px; 
    color: #5c5c5c;
    font-weight: 500;
}

.donate-login span {
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.donate-agree {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-top: 20px;  
    color: #5c5c5c;
    font-size: 16px;  
    font-weight: 500;
}

.donate-fields textarea {
    height: 100px;          
    padding: 15px 20px;     
    resize: none;            
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

.file-upload-wrapper {
    position: relative;
    width: 30%;
    margin-top: 5px;
  }
  
  .file-upload-input {
    display: none;
  }
  
  .file-upload-label {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    background-color: #f1f1f1;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #5c5c5c;
    text-align: left;
  }

  .file-upload-note {
    font-size: 13px;
    color: #555;
    margin-top: 4px;
    margin-bottom: 16px;
    white-space: nowrap; 
  }
  